.home_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
  img {
    width: 100%;
  }
}
.home_about_me {
  // margin: 20px;
  padding: 20px 50px;
  // border-radius: 10px;
  // background: rgba(255, 255, 255, 0.637);
  // background: left no-repeat url(../../public/assets/img/herminebg.png);
  .about_me_title {
    // border: 2px solid red;
    background: rgb(30, 67, 103);
  }
  .about_me_description {
    margin: 50px auto;
    // border: 2px solid red;
    background: rgba(30, 66, 103, 0.842);
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-evenly;
    img {
      width: 100%;
      min-width: 100px;
    }
    div {
      max-width: 600px;
      p {
        margin: 20px;
      }
    }
  }
  .about_me_engagement {
    // border: 2px solid red;
    background: rgba(165, 122, 42, 0.808);
  }
}
