* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgb(241, 227, 189);
  position: relative;
}
body::before {
  position: fixed;
  left: 0;
  bottom: 0;
  content: "";
  height: 400px;
  width: 240px;
  background: url(../../public/assets/img/herminebg.png) center/cover;
  z-index: -1;
}
body::after {
  position: fixed;
  right: 0;
  bottom: 0;
  content: "";
  height: 400px;
  width: 240px;
  background: url(../../public/assets/img/herminebg.png) center/cover;
  z-index: -1;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.header {
  margin-bottom: 55px;
}
.header .navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.navigation {
  position: relative;
}
.navigation ul {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 5px;
  background: rgb(30, 67, 103);
}
.navigation ul .ligne {
  border: 1px solid rgb(184, 162, 92);
  height: 25px;
}
.navigation ul a {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
}
.navigation ul a:hover {
  color: rgb(184, 162, 92);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation ul .nav-active {
  color: rgb(184, 162, 92);
}

.sticky ul {
  position: fixed;
}

.home_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
}
.home_img img {
  width: 100%;
}

.home_about_me {
  padding: 20px 50px;
}
.home_about_me .about_me_title {
  background: rgb(30, 67, 103);
}
.home_about_me .about_me_description {
  margin: 50px auto;
  background: rgba(30, 66, 103, 0.842);
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home_about_me .about_me_description img {
  width: 100%;
  min-width: 100px;
}
.home_about_me .about_me_description div {
  max-width: 600px;
}
.home_about_me .about_me_description div p {
  margin: 20px;
}
.home_about_me .about_me_engagement {
  background: rgba(165, 122, 42, 0.808);
}

.carte_title {
  border: 2px solid green;
  margin: 30px 20px;
  padding: 10px 20px;
}

.carte_menu {
  margin: 10px 20px;
  background: rgba(31, 68, 107, 0.658);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carte_menu .nav_carte button {
  margin: 20px 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  background: rgb(30, 66, 103);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
.carte_menu .nav_carte button:hover {
  color: rgb(184, 162, 92);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.carte_menu .nav_carte .active {
  color: rgb(184, 162, 92);
  border-color: rgb(184, 162, 92);
}
.carte_menu .carte {
  min-height: 80vh;
}
.carte_menu .carte .carte_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 0 20px 20px 20px;
}
.carte_menu .carte .carte_items div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carte_menu .carte .carte_items div img {
  border-radius: 100px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}
.carte_menu .carte .carte_items div h5 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.carte_menu .carte .carte_items .galette_month {
  grid-column: 1/4;
}
.carte_menu .carte .carte_items .galette_month p {
  font-size: 1.3rem;
}/*# sourceMappingURL=index.css.map */